@import url('https://fonts.googleapis.com/css?family=Assistant|Telex|Viga');
/*************** GLOBAL ***************/
  html {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #FFFFFF;
    height: 100%;
  }

  body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  #content {
    flex: 1;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    color: #2B2D42;
  }

  body div article {
    width: 58vw;
    margin: 0 auto;
  }

  p, li {
    font-family: 'Assistant', sans-serif;
    color: #191919;
  }

  h1 {
    font-family: 'Viga', sans-serif;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Telex', sans-serif;
    color: #191919;
    /*font-size: 115%;*/
  }


  /**** HEADER ****/
    body header {
        /** size **/
      width: 100vw;
      height: 220px;
        /** color **/
      background-color: #B80C09;
        /** margins&padding **/
      padding: 1em 3em 0em 1em;
      margin-bottom: 5em;
    }

    header section {
      display: inline-block;
    }

    header section h1, h2, p {
      color: #191919;
    }

    .header-words h1 {
      font-size: 4em;
      margin-left: 1em;
      margin-top: 8px;
    }

    .header-words p {
      font-style: italic;
      margin-left: 10em;
      margin-top: -3.7em;
    }

    .header-picture-overlay {
      float: right;
      padding-right: 4em;
      padding-top: 1em;
    }

    .header-picture-overlay .picture-2 {
      /* serious pic */
      width: 170px;
      position: relative;
      border-radius: 2%;
      margin-right: 1em;
    }

    .header-picture-overlay .picture-1 {
      /* not-so-serious pic */
      height: 170px;
      position: absolute;
      margin-right: 1em;
      border-radius: 50%;
    }

    .header-picture-overlay .picture-2:hover {
      /* pic animation */
      opacity: 0;
      transition: all 0.8s ease-out;
    }

  /**** NAV BAR ****/
    nav {
      margin-top: 60px;
    }

    nav * {
      display: inline;
      color: #FFFFFF;
    }

    .nav-button {
      padding: 15px 10px 110px 5px;
      border-radius: 5%;
    }

    .nav-button:hover {
      color: #2B2D42;
    }

    .current-page-button {
      padding: .25em .5em .25em .5em;
      border-radius: 5%;
      font-style: italic;
    }

    .current-page-button:hover {
      color: #2B2D42;
    }

  /**** FOOTER ****/
    body footer {
      background-color: #B80C09;
      padding-top: 10px;
      height: 50px;
      width: 100vw;
      /*position: relative;*/
      /*bottom: 0;
      left: 0
      margin-top: 50em;*/
      /*top: 100vh;*/
    }

    footer * {
      display: inline-block;
    }

    footer h4 {
      margin-top: -2px;
      padding-left: 1em;
      margin-left: 100px;
    }

    footer p {
      float: right;
      font-size: .25em;
      font-style: italic;
      padding-top: -1em;
      margin-right: 100px;
    }

  /**** PAGE INTRO BLURBS ****/
    [class*='*-blurb'] h4 {
      color: #2B2D42;
    }

/*************** PAGE-SPECIFIC STUFF ***************/
  /****** HOMEPAGE ******/
  .homepage-blurb h4 a {
    color: #B80C09;
  }

  .homepage-blurb ul li {
    list-style-type: circle;
  }

    /**** SOCIAL MEDIA SECTION ****/
      #social-media-icons {
        margin-top: -20px;
        width: 100%;
      }

      #social-media-icons tr th a img {
        transition: all .5s ease-in-out;
        transform: scale(.5)
      }

      #social-media-icons tr th a img:hover {
        transform: scale(.8);
      }

  /****** PORTFOLIO ******/
    .portfolio-blurb a {
      color: #B80C09;
    }

  /****** CODE JOURNAL ******/
    #twitter-feed {
      text-align: center;
    }

    article section h6 {
      font-style: italic;
    }

    article section p {
      margin-left: .5em;
    }

  /****** ABOUT ME ******/
    .about-me-blurb h6 {
      float: right;
    }

    .about-me-blurb a {
      color: #B80C09;
    }

  /****** PHOTOGRAPHY PAGES ******/
    article table img {
      padding: 1em;
    }

    body article.photography-article {
      margin-top: 120px;
      margin-bottom: 2em;
      margin-left: 1.5em;
      margin: 0 auto;
    }

    .photo-table {
      text-align: center;
      margin: 0 auto;
    }

    table.photo-table tbody tr td {
      text-align: center;
    }

    /**** PHOTO NAV BAR ****/
      .photography-header nav {
        margin-top: 0px;
      }

      .photography-header nav * {
        display: inline;
        color: #B80C09;
      }

      .photography-header nav a h4.nav-button {
        padding: .25em .5em .25em .5em;
      }

      nav a h4.nav-button:hover {
        color: #D6E1C7;
      }

      nav a h4.current-page-button {
        padding: .25em .5em .25em .5em;
        border-radius: 5%;
        color: #D6E1C7;
      }

  /****** CALLIGRAPHY ******/
    table.calligraphy-table img {
      height: 25.5em;
      border-radius: 5%;
    }

    body article table.calligraphy-table {
      text-align: center;
      margin: 0 auto;
    }

    body article table.calligraphy-table td {
      padding: 0em;
    }

    body article.calligraphy-article {
      margin: 0 auto;
    }
